CESUR_BASE_URL=https://campusonline.cesurformacion.com
PROFILE_DIR=./browser_profile
OUTPUT_FILE=./assignments.json
GOOGLE_CREDENTIALS_FILE=./credentials.json
GOOGLE_TOKEN_FILE=./token.json
SYNC_STATE_FILE=./sync_state.json
GOOGLE_TASKLIST_NAME=
GOOGLE_CALENDAR_NAME=Cesur
FORMAT_RULES_FILE=./format_rules.toml
